$color-bg-dark: #0d0d0d;
$color-bg-medium: #0f0f0f;
$color-bg-main: #0a0a0a;
$color-bg-light: #161616;
$color-bg-box: #222222;
$color-glow: rgb(98, 177, 237);
$color-text-light: #ffffff;
$color-text-muted: #9c9c9c;

$color-accent: rgb(98, 177, 237);
$color-accent-soft: #70befabf;

@mixin gradient-text($from, $to, $direction: to right) {
  background: linear-gradient($direction, $from, $to);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
