@use "variables" as *;

body {
  background-color: $color-bg-main;
  color: $color-text-light;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  padding: 1.1rem 5%;
  z-index: 999;

  .nav-toggle {
    visibility: hidden;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      gap: 1rem;
      img {
        width: 1.5rem;
        height: auto;
      }
      p {
        font-size: 1.4rem;
        font-weight: 200;
        margin: 0;
      }
    }
    .nav {
      border: 1px solid $color-bg-box;
      background-color: $color-bg-main;
      border-radius: 0.7rem;

      .nav-bar {
        margin: 0;
        padding: 0.4rem 0.4rem;
        list-style: none;
        display: flex;
        position: relative;

        li {
          border-radius: 7px;
          transition: border 0.3s ease;
          will-change: transform;
          position: relative;
          z-index: 1;
          cursor: pointer;

          &:hover .nav-item {
            @include gradient-text($color-text-light, $color-accent);
          }
        }

        .nav-item {
          display: inline-block;
          padding: 0.2rem 0.9rem;
          transition: all 0.3 ease;
          position: relative;
        }

        .nav-indicator {
          position: absolute;
          height: 70%;
          background-color: $color-bg-light;
          box-shadow: 0 0 7px $color-accent-soft;
          border-radius: 0.4rem;
          transition: all 0.3s ease;
          z-index: 0;
        }
        a {
          all: unset;
          font-weight: 400;
          font-size: 0.9rem;
          color: $color-text-muted;
        }
      }
    }
  }
}

.hero {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .blobs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;

    .blob {
      position: absolute;
      width: 30%;
      height: 30%;
      border-radius: 50%;
      filter: blur(6rem);
      will-change: transform;
      z-index: -1;
      opacity: 1;
      &.blob-blue {
        background: $color-accent;

        &.one {
          top: 6%;
          left: 65%;
          z-index: 0;
        }
        &.two {
          top: 55%;
          left: 5%;
        }
        &.three {
          top: 20%;
          right: 65%;
        }
        &.four {
          top: 50%;
          right: 5%;
        }
        &.five {
          top: 70%;
          left: 40%;
        }
      }

      &.blob-dark {
        background: rgb(0, 0, 0);
        opacity: 0.9;

        &.one {
          top: 5%;
          left: 5%;
        }
        &.two {
          top: 60%;
          left: 30%;

          z-index: -1;
        }
        &.three {
          top: 60%;
          right: 2%;
        }
        &.four {
          bottom: 35%;
          left: 55%;
        }
        &.five {
          bottom: 40%;
          left: 45%;
          z-index: -3;
        }
      }
    }
  }

  .hero-content {
    position: relative;
    top: -1rem;
    z-index: 2;
    text-align: center;
    max-width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .hero-title {
      font-size: 9rem;
      font-weight: 500;
      margin-bottom: 1.3rem;
      @include gradient-text($color-text-light, $color-accent-soft);
    }
    .hero-subtitle {
      font-weight: 400;
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    .hero-btns {
      background-color: $color-bg-main;
      border-radius: 0.7rem;
      padding: 0.3rem;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      position: relative;

      .btn {
        all: unset;
        padding: 0.5rem 1.1rem;
        display: inline-block;
        border-radius: 0.7rem;
        font-size: 0.9rem;
        color: $color-text-muted;
        z-index: 1;

        &:hover {
          @include gradient-text($color-text-light, $color-accent);
        }
      }

      .btn-secondary {
        display: flex;
        gap: 0.6rem;
        align-items: center;
        > img {
          width: 0.9rem;
          height: 0.8rem;
        }
      }

      .hero-indicator {
        position: absolute;
        opacity: 0;
        height: 70%;
        background-color: transparent;
        box-shadow: 0 0 7px $color-accent-soft;
        border-radius: 0.4rem;
        transition: all 0.3s ease;
        z-index: 0;
      }
    }
  }

  .gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, transparent, #0a0a0a);
    pointer-events: none;
    z-index: 1;
  }
}

.about-us {
  width: 100%;

  min-height: clamp(320px, 67vh, 650px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 4rem;

    > h2 {
      font-size: 3.5rem;
      text-align: center;

      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 2rem;
      @include gradient-text($color-text-light, $color-accent-soft);
    }

    .btn {
      all: unset;
      padding: 0.5rem 1.1rem;
      display: inline-block;
      border-radius: 0.7rem;
      font-size: 0.9rem;
      color: $color-text-muted;
      box-shadow: 0 0 3px $color-accent;
      background-color: $color-bg-light;
      cursor: pointer;

      .btn-text {
        @include gradient-text($color-text-light, $color-accent);
      }
    }
  }

  .background-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 33rem;
    font-weight: 400;
    z-index: -1;
    opacity: 0.07;
    line-height: 1;
    @include gradient-text(
      $color-text-light,
      $color-accent-soft,
      to bottom
    );
  }
}

.what-we-do {
  padding: 5rem 1.6rem;
  max-width: 1440px;
  margin: 0 auto;
  .service-heading {
    font-size: 5.8rem;
    width: 45%;
    font-weight: 400;
    margin-bottom: 2.5rem;
    @include gradient-text(
      $color-text-light,
      $color-accent-soft,
      90deg
    );
  }
  .container {
    .services-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;

      .service-card {
        position: relative;
        background-color: $color-bg-dark;
        padding: 2.7rem 2.3rem 3.5rem;
        border: 1px solid $color-bg-box;
        border-radius: 0.7rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 2.6rem;
        color: $color-text-muted;
        height: 100%;
        align-items: stretch;
        overflow: hidden;

        .glow {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 70%;
          height: 4px;
          background: radial-gradient(
            circle at top center,
            $color-accent-soft,
            transparent
          );
          border-radius: 100%;
          filter: blur(3rem);
          opacity: 0.2rem;
          background-color: $color-accent-soft;
          z-index: 0;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 0.1rem;
          width: 100%;
          background: radial-gradient(
            ellipse at top center,
            $color-accent,
            transparent 80%
          );
          box-shadow: 0px 6px 11px -11px $color-accent;
          pointer-events: none;
          z-index: 1;
        }

        .card-preview {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          flex: 1;
          .chat-simulation {
            padding: 1.3rem;
            border: 1px solid $color-bg-box;
            border-radius: 0.7rem;
            font-size: 0.9rem;
            display: flex;
            flex-direction: column;
            gap: 1.3rem;
            flex: 1;

            .chat {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 1rem;

              .chat-ai {
                box-shadow: 0px -1px 3px 0.3px $color-accent-soft;
              }
              > span {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color-text-light;
                font-weight: 200;
                font-size: 1.1rem;
                width: 3rem;
                height: 3rem;
                border: 1px solid $color-bg-box;
                border-radius: 0.35rem;
                aspect-ratio: 1/1;
              }

              .chat-message {
                display: flex;
                flex-direction: column;

                .chat-author {
                  font-size: 0.9rem;
                  font-weight: 500;
                  margin-bottom: 0.1rem;
                  strong {
                    @include gradient-text(
                      $color-text-light,
                      $color-accent-soft
                    );
                    font-weight: 500;
                  }
                }

                > p {
                  font-weight: 300;
                }
              }
            }
          }

          .chat-input {
            padding: 0.5rem 1.3rem;
            border: 1px solid $color-bg-box;
            border-radius: 0.35rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 2rem;
              aspect-ratio: 1/1;
              border: 1px solid $color-bg-box;
              border-radius: 0.35rem;
              font-size: 1.5rem;
              font-weight: 200;
              line-height: 0.9rem;
            }

            > p {
              width: 70%;
              font-size: 0.9rem;
              font-weight: 400;
              text-align: left;
            }

            .input-arrow {
              width: 1.9rem;
              height: 1.9rem;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 0.3rem;
              box-shadow: 1px 1px 3px 0.3px $color-accent-soft;

              img {
                width: 0.8rem;
                height: auto;
                rotate: 270deg;
              }
            }
          }

          .image-simulation {
            border: 1px solid $color-bg-box;
            border-radius: 0.35rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            gap: 2.6rem;
            position: relative;
            overflow: hidden;

            .particles {
              position: absolute;
              height: 2px;
              width: 1px;
              top: 50%;
              left: 50%;
              background-color: white;
            }

            p {
              font-size: 0.9rem;
              @include gradient-text(
                $color-text-light,
                $color-accent-soft,
                90deg
              );
              border: 1px solid $color-bg-box;
              border-radius: 0.35rem;
              padding: 0.47rem 0.8rem;
            }
          }
          .image-input {
            padding: 0.55rem 1.3rem;
            border: 1px solid $color-bg-box;
            border-radius: 0.35rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            > p {
              font-size: 0.9rem;
            }

            .generate-btn {
              all: unset;
              font-size: 0.9rem;
              font-weight: 500;
              @include gradient-text(
                $color-text-light,
                $color-accent,
                90deg
              );
              border: 1px solid $color-bg-box;
              border-radius: 0.35rem;
              padding: 0.22rem 0.55rem;
              box-shadow: 0px 0px 1px 1px $color-accent-soft;
            }
          }
        }

        .card-heading {
          > h3 {
            font-size: 1.95rem;
            color: $color-text-light;
            font-weight: 500;
            margin-bottom: 1rem;
          }

          > p {
            font-size: 0.9rem;
            font-weight: 400;
          }
        }
      }
    }
  }

  .services-detail {
    margin-top: 1.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.7rem;

    .card {
      position: relative;
      overflow: hidden;
      border: 1px solid $color-bg-box;
      padding: 3rem 1.7rem;
      background-color: $color-bg-dark;
      border-radius: 0.7rem;
      display: flex;
      flex-direction: column;
      gap: 1.3rem;

      .glow {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: 8px;
        background: radial-gradient(
          circle at top center,
          $color-accent-soft,
          transparent
        );
        border-radius: 100%;
        filter: blur(3rem);
        opacity: 0.2rem;
        background-color: $color-accent-soft;
        z-index: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 0.1rem;
        width: 100%;
        background: radial-gradient(
          ellipse at top center,
          $color-accent,
          transparent 80%
        );
        box-shadow: 0px 6px 11px -11px $color-accent;
        pointer-events: none;
        z-index: 1;
      }
      .card-effect {
        min-height: 200px;
      }
      .card-title {
        font-size: 2.3rem;
        font-weight: 400;
      }

      .card-desc {
        font-size: 0.95rem;
        color: $color-text-muted;
        width: 94%;
      }
    }
  }
}
